body {
    background-image: linear-gradient(to right, orange, yellow);    
}

li {
    font-size: 12px;
}

.crystal {
    cursor: pointer;
}

#footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: grey;
    margin-top: 3rem;
}