body {
    background-image: linear-gradient(to right, orange, yellow);    
}

li {
    font-size: 11px;
}

#random-number {
    font-size: 30px;
    color: red;
}

.crystal {
    cursor: pointer;
    padding: 2%;
    margin: 2%;
    /* height: 120px;
    width: 140px; */
}

#footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: grey;
    margin-top: 3rem;
}

@media (max-width: 768px) {
    h5 {
        font-size: 80%;
    }
}